.custom-button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* 자식 요소들을 세로 방향으로 배치 */
    width: 300px;
    height: 400px;
    border: none;
    background-color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 수평 위치, 수직 위치, 흐림 정도, 색상 */
  }
  
  .custom-button3:hover {
    background-color: rgb(194, 208, 214);
  }
  
  .custom-button3 img {
    max-width: 100%;
    max-height: 100%;
  }

  .custom-button3 span {
    font-size: 25px; /* 텍스트의 글꼴 크기를 조절합니다. */
    font-weight: bold; /* 텍스트를 굵게 설정 */
  }

  .custom-button3 description {
    margin-top: 30px;
    font-size: 15px; /* 텍스트의 글꼴 크기를 조절합니다. */
    font-weight: bold; /* 텍스트를 굵게 설정 */
    color: gray;
  }